<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FLood The Colour</title>

  <link href="style/main.css" rel="stylesheet" type="text/css">
  
  <link rel="shortcut icon" href="favicon.ico">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body><table style="margin:auto">
  <tr><td> 
<a href="../index.html"style="text-decoration:none"><font color= "blue" size="5px">Home</font></a> </p1></td>
  <td>
 &nbsp;&nbsp;&nbsp;<a href="../aboutme.html" style="text-decoration:none"> <font color= "red" size="5px">About me..!!!</font> </a>
  </td> 
  <td>
&nbsp;&nbsp;&nbsp;<a href="../2048/index.html" style="text-decoration:none"><font color= "green" size="5px" >Play 2048..!!!</font></a></td>
  <td> 
&nbsp;&nbsp;&nbsp;<a href="../2584/index.html" style="text-decoration:none"><font color= "neon" size="5px">Play 2584!!!</font></a> </p1></td>
<td> 
&nbsp;&nbsp;&nbsp;<a href="index.html" style="text-decoration:none"><font color= "violet" size="5px">Play Flood Colour!!!</font></a></td>
</tr></table>

<hr>
  <div class="container">
    <div class="heading">
      <h1 class="title" style="font-size:40px">Flood the Colour</h1>
      <div class="scores-container">
        <!-- <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div> !-->
    </div>

    <div class="above-game">
      
      <a class="restart-button" onclick="new_game ()">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>
    <table>
  <tr>
    <td valign="top"><tr>
    <td>
      <table id="game-table">
        
        <tbody id="game-table-tbody">
          
        </tbody>
      </table>
    </td>
    
  </tr>

      <table>
        <tr>
          <td valign="top" style="padding-top:30px">
            <table id="button-table" style="padding-left:85px">
              <tr>
                <td class="button blue" onclick="flood ('blue')">
                </td>
                <td class="button red" onclick="flood ('red')">
                </td>
                <td class="button green" onclick="flood ('green')">
                </td>
                <td class="button yellow" onclick="flood ('yellow')">
                </td>
                <td class="button pink" onclick="flood ('pink')">
                </td>
                <td class="button purple" onclick="flood ('purple')">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr valign="top">
          <td id="turn-counter" valign="top" style="padding-left:85px">
            Moves Left: <span id="moves"></span>/<span id="max-moves"></span>
          </td>
        </tr>
       </table>
    </td>
  </tr>

</table>
     <!-- <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>
<table>
  <tr>
    <td valign="top">
      <table>
        <tr>
          <td valign="top">
            <table id="button-table">
              <tr>
                <td class="button blue" onclick="flood ('blue')">
                </td>
                <td class="button red" onclick="flood ('red')">
                </td>
                <td class="button green" onclick="flood ('green')">
                </td>
              </tr>
              <tr>
                <td class="button yellow" onclick="flood ('yellow')">
                </td>
                <td class="button pink" onclick="flood ('pink')">
                </td>
                <td class="button purple" onclick="flood ('purple')">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr valign="top">
          <td id="turn-counter" valign="top">
            Turn: <span id="moves"></span>/<span id="max-moves"></span>
          </td>
        </tr>
        <tr valign="top">
          <td valign="top">
            <input type="submit" value="New game" onclick="new_game ()">
          </td>
        </tr>
        <tr valign="top">
          <td valign="top">
            <input type="submit" value="Help" onclick="help ()">
          </td>
        </tr> !-->
      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation" >
      <strong class="important">How to play:</strong> Click</strong> on any six colors option. When same colours matches from Top left they <strong>Flood!</strong>.You just have    <strong>22 moves<strong>!!
    </p>
    <hr>
    
  </div>

  <script src="js/flood-game.js"></script>
  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/keyboard_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script src="js/application.js"></script>
   <script> window.onload =new_game (); </script>
</body>
</html>
