<!DOCTYPE html>
<html>
<head><title>Aakash Tiwari</title>

	<style>
h1 { text-align: center;
    color: #6495ed;
}
h2 {
    color: #6495de;
}

p {
    color: #e0ffff;
}


body {
    background-image: url("background.jpg");
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
  
}
#container {
   height:100%;
}
div {
  font-size: 20px; 
  text-align: center; 
  margin: 5px 3px 0 0; 
  margin: 75px 0 0 0;
  float: left; 
  width: 508px; 
  height:200px; 
  border-radius:2px; 
  font-family: "Comic Sans MS", cursive;
  background-color: green ;
  color:#FFF; 
}
</style>
	<h1 >Aakash Tiwari</h1>
</head>

<body>
<h2><marquee>Welcome to Aakash's Tiwari Webpage.....</marquee></h2>
 <table style="margin:auto">
  <tr><td> 
<a href="index.html"style="text-decoration:none"><font color= "blue" size="5px">Home</font></a> </p1></td>
  <td>
 &nbsp;&nbsp;&nbsp;<a href="aboutme.html" style="text-decoration:none"> <font color= "red" size="5px">About me..!!!</font> </a>
  </td> 
  <td>
&nbsp;&nbsp;&nbsp;<a href="2048/index.html" style="text-decoration:none"><font color= "green" size="5px" >Play 2048..!!!</font></a></td>
  <td> 
&nbsp;&nbsp;&nbsp;<a href="2584/index.html" style="text-decoration:none"><font color= "yellow" size="5px">Play 2584!!!</font></a> </p1></td>
<td> 
&nbsp;&nbsp;&nbsp;<a href="floodcolor/index.html" style="text-decoration:none"><font color= "violet" size="5px">Play Flood Colour!!!</font></a></td>
</tr></table>

<hr>
<div><p> I am Aakash Tiwari from Allahabad.
  I have done my btech IERT Allahabd.I love watching movies and reading books.
   I am currently working as a Full stack developer in Cybrila Technologies.

     </p></div> 


My <a href="academics/sem1.html"> <font color="red">sem 1 score</font></a>
My <a href="academics/sem2.html"> <font color="green">sem 2 score</font></a>
My <a href="academics/sem3.html"> <font color="yellow">sem 3 score</font></a>  
<img src=https://trcs.wikispaces.com/file/view/che_guevara.jpg/41147947/che_guevara.jpg width="300" height="400" align="right"/>
</body>	
<footer>
  <p>Posted by: Aakash</p>
  <a href="index.html"><font color="yellow">Go to home page</font></a>
</footer>

</html>